* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

@import "./bootstrap.css";

.moreThan23 {
  background-color: green;
  color: #fff;
}
.lessThan23 {
  background-color: red;
}

.app-title {
  text-align: center;
  padding: 1em 0;
}

.quicksearch-container {
  border: 4px solid #f6f8f8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1em;
}

.quicksearch {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  outline: 0;
  border: none;
  font-size: "100%";
}
